<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This Web App was created by <a href="https://www.linkedin.com/in/tushar-choudhari/">Tushar Choudhari.</a></p>
        <p>The Web App primarily uses Node.js and Express.js on back end and to create API endpoint for app, also
            uses 'Fetch' to fetch data from weather API that was created. The app is getting it's data from two sources
            <a href="https://www.mapbox.com/">mapbox.com</a> for Geolocation and <a href="https://darksky.net/">darksky.net</a> for getting weather reports.
        </p>
    </div>
    
    {{>footer}}
</body>
</html>