<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ebf5fc">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        <header>
            <div class="location">
                Search for a Location...
            </div>
        </header>

        <form>
            <input placeholder="Location..">
            <button>Search</button>
        </form>

        <div class="output">
            <div class="output-primary">
                
            </div>
            <div class="output-secondary">
                
            </div>
        </div>

    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>