@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
body{
    color: #666666;
    font-family: Helvetica, sans-serif;
    max-width: 650px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 16px;
    background: #ebf5fc;
    display: flex;
    flex-direction: column;
}
.main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    border-top: 1px solid #eeeeee;
    color: #888888;
    margin-top: 16px;
    padding: 16px 0;
    font-family: 'Open Sans';
}

footer div:nth-child(2){
    margin-top: 16px;
    font-weight: 600;
}

 footer a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
header{
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Open Sans';
}

.location{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    height: 34px;
}
.location img{
    height: 32px;
    margin-right:8px;
}

h1{
    font-family: Montserrat;
    font-size: 64px;
    margin-bottom: 16px;
}
p{
    font-family: 'Open Sans';
}
header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

input{
              box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
              font-family: 'Open Sans';
              color: #333;
              font-size: 1.2rem;
              padding: 1rem 2rem;
              border-radius: 2rem;
              background-color: #ebf5fc;
              border: none;
              width: 90%;
              display: block;
              transition: all 0.3s;
}
/* input::placeholder{
    padding-left: 16px;
} */
input:placeholder-shown{
    padding-left: 16px;
    color: #888888;
    text-decoration: none;
    font-family: 'Open Sans';
}
input:focus{
    outline: none;
}
button{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 4rem;
    background: #ebf5fc;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    padding: 0rem 1rem;
    width: 40%;
    margin-top: 5%;
    font-size: 1.2rem;
    color: #333333;
    font-family: 'Open Sans';
}
button:focus{
    outline: none;
}
p a{
    text-decoration: none;
    color: #333333;
}

.output{
    width: 90%;
    height: 25rem;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
    background: #ebf5fc;
    border-radius: 2rem;
    border: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.output-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}
.output-primary div{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.output-primary .temperature{
    font-size: 6rem;
}

.forecast img{
    height: 8rem;
}

.output-secondary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.output-secondary div{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
}


@media only screen and (max-width: 600px) {
    header{
        margin-bottom: 2rem;
    } 
    .location{
         margin-top: 1.5rem;
         font-size: 1.5rem;
         height: 1.6rem;
     }
     .output{
         height: 20rem;
     }
     .output-primary .temperature{
        font-size: 3rem;
     }
     .output-primary .forecast img{
         height: 4rem;
     }
}